	<section id="subnav">
		<div class="container">
			<div class="col-md-12">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="fa fa-bars fa-lg"></span>
          		</button>
				<div class="collapse navbar-collapse">
					<ul class="sub-menu ">
						<li><a href="processing-overview">Processing</a></li>
						<li><a href="certification-process">Certification</a></li>
						<li><a href="latest-versions">SDK</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Extensions <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li id="li1-extensions" ><a href="https://marketplace.magento.com/vantiv-payment.html" target="_blank">Magento</a></li>
								<li id="li2-extensions" ><a href="http://www.opencart.com/index.php?route=extension/extension/info&extension_id=5816" target="_blank">Opencart</a></li>
							</ul>
						</li>
						<li><a href="sandbox">Sandbox</a></li>
						<li><a href="faqs">F.A.Q.</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
